---
// models
import type { ProjectsInteface } from "@/models/project";

// components
import { Image } from "astro:assets";

interface Props {
  project: ProjectsInteface;
}

const { project } = Astro.props;
---

<a
  href={`/projects/${project.id}`}
  class="flex flex-col justify-between gap-3 w-full rounded-xl overflow-hidden card"
  aria-label={`Detalles del proyecto ${project.name}`}
>
  <div class="rounded-xl w-full h-full overflow-hidden">
    <Image
      src={project.image}
      alt={`Imagen del proyecto ${project.name}`}
      class="w-full card-image"
      width={100}
      height={100}
      transition:name={`project ${project.name} image`}
    />
  </div>

  <div class="flex flex-col gap-2 px-2 py-3">
    <span
      class="text-primary-100/50"
      transition:name={`project ${project.name} description`}
    >
      {project.category}
    </span>
    <h4
      class="text-xl text-primary-100/95 card-title"
      transition:name={`project ${project.name}`}
    >
      {project.name}
    </h4>
  </div>
</a>

<style>
  .card-image {
    transition: transform 0.5s ease-in-out;
  }

  .card:hover .card-image {
    transform: scale(1.02);
  }

  .card-title {
    transition: color 0.5s ease-in-out;
  }

  .card:hover .card-title {
    @apply text-secondary;
  }
</style>
