---
import { Image } from "astro:assets";

// layout
import Layout from "@/layouts/Layout.astro";

// data
import { PROJECTS } from "@/lib/data";

// icons
import UrlIcon from "@/assets/icons/UrlIcon.astro";
import BackIcon from "@/assets/icons/BackIcon.astro";
import GithubIcon from "@/assets/icons/GithubIcon.astro";

const { id } = Astro.params;

const project = PROJECTS.find((project) => project.id === id);

if (!project) {
  throw new Error(`Project with ID ${id} not found`);
}
---

<Layout 
  title={`Rody | Proyecto ${project.name}`}
  description={`${project.description}`}
>
  <section class="flex flex-col gap-10 my-10">
    <div class="flex flex-col gap-5">
      <a
        href="/projects"
        class="text-primary-100/60 hover:text-primary-100/90 transition-colors duration-300 flex items-center gap-3"
        aria-label={`Detalles del proyecto ${project.name}`}
      >
        <BackIcon /> Regresar
      </a>
      <h1
        class="text-3xl text-primary-100 mt-3"
        transition:name={`project ${project.name}`}
      >
        {project.name}
      </h1>

      <div class="grid grid-cols-1 xl:grid-cols-3 gap-10 items-start">
        <div class="xl:col-span-2 flex flex-col gap-7">
          <p
            class="text-primary-100/75"
            transition:name={`project ${project.name} description`}
          >
            {project.description}
          </p>
          <div class="flex items-center gap-3">
            {
              project.github && (
                <a
                  href={project.github}
                  target="_blank"
                  class="border-2 border-primary-200/80 hover:bg-primary-100 hover:border-primary-100 hover:text-dark-color transition-colors duration-500 ease-in-out px-6 py-3 rounded-xl flex items-center gap-3"
                >
                  <GithubIcon /> GitHub
                </a>
              )
            }
            <a
              href={project.url}
              target="_blank"
              class="border-2 border-primary-200/80 hover:bg-primary-100 hover:border-primary-100 hover:text-dark-color/80 transition-colors duration-500 ease-in-out px-6 py-3 rounded-xl flex items-center gap-3"
            >
              <UrlIcon /> Demo
            </a>
          </div>
        </div>

        <div class="flex flex-col gap-5">
          <span class="font-medium text-lg text-primary-100">
            Tecnologías Usadas:
          </span>
          <div class="flex flex-wrap items-center justify-start gap-3">
            {
              project.slug.map((slug) => (
                <span class="bg-primary-200/40 text-primary-100/90 px-2 py-1 rounded-md">
                  {slug}
                </span>
              ))
            }
          </div>
        </div>
      </div>
    </div>

    <Image
      src={project.image}
      alt={`Imagen de ${project.name}`}
      width={100}
      height={100}
      class="w-full xl:w-3/4 mx-auto object-cover rounded-xl"
      transition:name={`project ${project.name} image`}
    />
  </section>
</Layout>
