---
import Layout from "@/layouts/Layout.astro";
import { PROJECTS } from "@/lib/data";

import BackIcon from "@/assets/icons/BackIcon.astro";
import GithubIcon from "@/assets/icons/GithubIcon.astro";
import UrlIcon from "@/assets/icons/UrlIcon.astro";

// Obtén el parámetro de la URL
const { id } = Astro.params;

// Encuentra el proyecto con el ID correspondiente
const project = PROJECTS.find((project) => project.id === id);

// Si no se encuentra el proyecto, puedes manejarlo adecuadamente
if (!project) {
  throw new Error(`Project with ID ${id} not found`);
}
---

<Layout>
  <section class="flex flex-col gap-10 my-10">
    <div class="flex flex-col gap-5">
      <a href="/projects" class="text-primary-100/60 flex items-center gap-3">
        <BackIcon /> Regresar
      </a>
      <h1 class="text-3xl text-primary-100">{project.name}</h1>

      <div class="grid grid-cols-3 gap-10 items-start">
        <div class="col-span-2 flex flex-col gap-7">
          <p class="text-primary-100/75">{project.description}</p>
          <div class="flex items-center gap-3">
            <a
              href={project.github}
              target="_blank"
              class="border-2 border-primary-200/80 px-6 py-3 rounded-xl flex items-center gap-3"
            >
              <GithubIcon /> GitHub
            </a>
            <a
              href={project.url}
              target="_blank"
              class="border-2 border-primary-200/80 px-6 py-3 rounded-xl flex items-center gap-3"
            >
              <UrlIcon /> Demo
            </a>
          </div>
        </div>
        <div class="flex flex-col gap-5">
            <span class="font-medium text-lg text-primary-100">Tecnologías Usadas:</span>
            <div class="flex flex-wrap items-center justify-center gap-3">
              {
                project.slug.map((slug) => (
                  <span class="bg-primary-100 text-dark-color px-2 py-1 rounded-md">{slug}</span>
                ))
              }
            </div>
        </div>
      </div>
    </div>

    <img
      src={project.image}
      alt={`Imagen de ${project.name}`}
      class="w-3/4 mx-auto object-cover rounded-xl"
    />
  </section>
</Layout>
