---
import { Image } from "astro:assets";

// icons
import PointIcon from "@/assets/icons/PointIcon.astro";

// layouts
import Layout from "@/layouts/Layout.astro";

// data
import { HOME_DATA, PROJECTS, SOCIAL_MEDIA } from "@/lib";

// components
import ItemSocial from "@/components/home/ItemSocial.astro";
import CardProject from "@/components/projects/CardProject.astro";
import ButtonRedirect from "@/components/ui/ButtonRedirect.astro";
---

<Layout
  title="Rody Huancas - Desarrollador Full Stack"
  description="Hilder Rody Huancas Chuquipma, desarrollador Full Stack. Especializado en crear aplicaciones únicas."
>
  <section class="flex flex-col gap-10">
    <div class="w-full flex items-start justify-between">
      <Image src={HOME_DATA.logo} alt="Logo" width="50" height="50" />

      <a
        href="/contact"
        class="bg-tertiary/5 py-3 px-4 hover:bg-tertiary/10 text-tertiary rounded-lg flex items-center justify-center transition-colors duration-300 ease-out"
      >
        <PointIcon />
        {HOME_DATA.aviable}
      </a>
    </div>

    <div class="flex flex-col gap-7">
      <h2 class="text-primary-100/90 text-4xl md:text-5xl flex flex-col gap-3 font-bold">
        {HOME_DATA.name}
        <span class="font-normal text-primary-100/80 text-2xl md:text-4xl"
          >
          {HOME_DATA.charge}</span
        >
      </h2>
      <span class="text-lg md:text-xl text-primary-200 md:text-balance font-light">
        {HOME_DATA.description}
      </span>
    </div>

    <div class="flex items-center flex-wrap gap-5">
      {SOCIAL_MEDIA.map((social) => <ItemSocial social={social} />)}
    </div>
  </section>

  <section class="mt-16 mb-7 flex flex-col gap-7">
    <h3 class="text-2xl text-primary-100/90">Proyectos Destacados</h3>

    <div class="grid md:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2 2xl:grid-cols-3 items-center gap-x-5 gap-y-10 mb-5">
      {PROJECTS.slice(0, 2).map((project) => (
        <CardProject project={project} />
      ))}
    </div>
    
    <ButtonRedirect path="/projects" title="Ver todos los proyectos" />
  </section>
</Layout>
